Q1.  Explain with an example each when to use a for loop and a while loop.

Ans:- In computer programming, loops are used to repeat a block of code.

while loop:- 
In python, a while loop is used to execute a block of statements repeatedly until a given condition is satisfied. And when the condition becomes false, the line immediately after the loop in the program is executed.

Syntax:

while expression:
    statement(s)

for loop:-
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.
With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

Syntax:

for iterator_var in sequence:
    statements(s)

In [2]:
# while loop example:-
x = 1
while x <= 10:
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9
10

In [4]:
# for loop example:-
l= [1,2,3,4,5]
for i in l:
    print(i**2)

1
4
9
16
25

Q2.  Write a python program to print the sum and product of the first 10 natural numbers using for  and while loop.

In [9]:
# Ans:-
# Using for loop:-
sum_ = 0
squre = 1
for i in range(1,11):
    sum_ = sum_+i
    squre = squre*i
print("Sum of the first 10 natural number is ",sum_)
print("Product of the first 10 natural number is",squre)

Sum of the first 10 natural number is  55
Product of the first 10 natural number is 3628800

In [10]:
# Using while loop:-
j = 1
s_um = 0
s_qure = 1
while j<=10:
    s_um = s_um + j
    s_qure = s_qure * j
    j = j+1
print("Sum of the first 10 natural number is ",s_um)
print("Product of the first 10 natural number is",s_qure)

Sum of the first 10 natural number is  55
Product of the first 10 natural number is 3628800

Q3. Create a python program to compute the electricity bill for a household. 
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per  unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will  be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

You are required to take the units of electricity consumed in a month from the user as input. 
Your program must pass this test case: when the unit of electricity consumed by the user in a month is  310, the total electricity bill should be 2250.

In [12]:
# Ans:- 
units = int(input("Enter your enter your units of electricity consumed in a month "))
if units > 0 and units <= 100:
    electricity_bill = units * 4.5
elif units > 100 and units <= 200:
    electricity_bill = 450 + ((units-100) * 6)
elif units > 200 and units <= 300:
    electricity_bill = 450 + 600 + ((units-200) * 10)
else:
    electricity_bill = 450 + 600 + 1000 + ((units-300) * 20)
print("Your electricity bill is ",electricity_bill)

Enter your enter your units of electricity consumed in a month  310

Your electricity bill is  2250

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each  number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print  that list.

In [1]:
# Ans:-
# Using for loop:-
m = []
j = []
a = []
for i in range(1,101):
    m.append(i)
print("List of 1 to 100 = ",m)
for i in m:
    j.append(i**3)
print("Cube of list = ",j)
for i in j:
    if i % 4 == 0 or i % 5 == 0:
        a.append(i)   
print("Divisible by 4 or 5 = ",a)

List of 1 to 100 =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
Cube of list =  [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]
Divisible by 4 or 5 =  [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [2]:
# Using while loop:-
m = []
j = []
a = []
x = 1
while x <= 100:
    m.append(x)
    j.append(x**3)   
    x = x+1
print("List of 1 to 100 = ",m)
print("Cube of list = ",j)
for i in j:
    if i % 4 == 0 or i % 5 == 0:
        a.append(i)
print("Divisible by 4 or 5 = ",a)

List of 1 to 100 =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
Cube of list =  [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]
Divisible by 4 or 5 =  [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

Q5.  Write a program to filter count vowels in the below-given string. 
string = "I want to become a data scientist"

In [5]:
s_tring = "I want to become a data scientist"
s= []
for i in s_tring:
    if i == "a" or i == "e" or i == "i" or i == "o" or i == "u"or i == "A"or i == "E" or i == "I" or i =="O" or i =="U":
        s.append(i)
print(s)
print((len(s)),"vowels are in the string.")

['I', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']
12 vowels are in the string.